[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=http://127.0.0.1/foss/doc/index.html#nätverksinspelningsserver-1
Icon=text-html
Name[sv_SE]=Nätinspelnings dokumentation
Name=Net capture documentation
