[Unit]
Description=Reaper Service
After=network.target

[Service]
ExecStart=/opt/reaper.py /home/tcpdump 20
Restart=always
User=tcpdump
Group=tcpdump

[Install]
WantedBy=multi-user.target

