set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

insmod gfxterm
terminal_output gfxterm
insmod gfxterm_background
insmod png
loadfont /EFI/BOOT/fonts/unicode.pf2
background_image -m stretch /EFI/BOOT/splash.png

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'FOSS'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Loggserver' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.ks=hd:LABEL=FOSS:/ks/ks.cfg inst.stage2=hd:LABEL=FOSS quiet
	initrdefi /images/pxeboot/initrd.img
}
menuentry 'Nätverksinspelningsserver' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.ks=hd:LABEL=FOSS:/ks/ks1.cfg inst.stage2=hd:LABEL=FOSS quiet
	initrdefi /images/pxeboot/initrd.img
}
menuentry 'Övervakningsserver' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.ks=hd:LABEL=FOSS:/ks/ks2.cfg inst.stage2=hd:LABEL=FOSS quiet
	initrdefi /images/pxeboot/initrd.img
}
menuentry 'IDS' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.ks=hd:LABEL=FOSS:/ks/ks3.cfg inst.stage2=hd:LABEL=FOSS quiet
	initrdefi /images/pxeboot/initrd.img
}
menuentry 'Nätverksinspelningsserver och IDS' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.ks=hd:LABEL=FOSS:/ks/ks13.cfg inst.stage2=hd:LABEL=FOSS quiet
	initrdefi /images/pxeboot/initrd.img
}
menuentry 'Test' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.ks=hd:LABEL=FOSS:/ks/ks4.cfg inst.stage2=hd:LABEL=FOSS quiet
	initrdefi /images/pxeboot/initrd.img
}
