[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=http://127.0.0.1/foss/doc/index.html#ids-server-1
Icon=text-html
Name[sv_SE]=IDS dokumentation
Name=IDS documentation
