[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=http://127.0.0.1/foss/doc/index.html#övervakningsserver-för-att-monitorera-datorer-och-tjänster
Icon=text-html
Name[sv_SE]=Alarmserver dokumentation
Name=Alarm server documentation
