[Desktop Entry]
Encoding=UTF-8
Name=Länk till http://127.0.0.1/icingaweb2
Type=Link
URL=http://127.0.0.1/icingaweb2
Icon=text-html
Name[sv_SE]=Länk till Icinga
