#
#Version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
#cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable

# We could pre-accept the EULA because the user of this system gets a training where
# we give information about the license and the requirements
eula --agreed

# Keyboard layouts
keyboard --vckeymap=se --xlayouts='se'
# System language
lang sv_SE.UTF-8

# Network information
network --bootproto=dhcp --hostname=localhost.localdomain --onboot=yes
# Root password

# System timezone
timezone Europe/Stockholm --isUtc
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
#clearpart --all --initlabel --drives=sda
reboot

%include /tmp/rootpw

services --disabled=firewalld --enabled=iptables,ip6tables

%pre
#!/bin/bash
pwd=$(openssl rand -base64 32)
salt=$(openssl rand -base64 12)
crypt=$(python -c "import crypt; print(crypt.crypt('${pwd}', '\$6\$${salt}'))")
echo -n "rootpw ${crypt}" > /tmp/rootpw
%end

%packages
%include /mnt/install/repo/ks/base.cfg.packages
%end

%post
#!/bin/sh
set -xv
exec 1>/root/kickstart-stage2.log 2>&1
echo '[Unit]
Description=Auto-execute post install scripts
After=network.target
 
[Service]
ExecStart=/root/firstboot.sh
 
[Install]
WantedBy=multi-user.target ' > /etc/systemd/system/firstboot.service

echo "#!/bin/bash
for i in \$(ls /opt/.foss*|awk -F'-' '{print \$NF}'); do
  if [ -f /opt/ansible/playbooks/\${i}.yml ]; then
    ansible-playbook -i /opt/ansible/inventory /opt/ansible/playbooks/\${i}.yml
  fi
done
systemctl disable firstboot.service" > /root/firstboot.sh

chmod 755 /root/firstboot.sh
systemctl enable firstboot.service 
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end
